body{
    height: 100%;
}
.row{
    margin: auto;
    
}
.student{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 6px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}
.backgray{
    background-color: #ECECEC;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3%;
    position: absolute;
    top: 15%;

}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#title{
    color: #048B9A;
}
@media (max-width: 900px) {
    #row1,#row2,#row3,#row4,#row5,#row6 {
        display: flex;
        flex-direction: column;
    }
    .student{
        width: auto;
    }
  }